.banner {
  background-image: url(https://images.inc.com/uploaded_files/image/1920x1080/getty_178098899_81139.jpg);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  height: 1px;
  width: 1px;


}
